.view {
	padding:10px;
	background:#eee;
	border-radius:5px;
	height: 400px;
	overflow-y: auto;	
}
.preview {
	overflow-y: inherit;	
}
.title{
	color:#0000cc;
	text-align: center;
}
.preset{
	cursor: pointer;
	display: block;
	width: 160px;
	height: 160px;
	background: #f7f7f7;
	border-radius: 10px;
	float: left;
	margin: 0 10px 10px 0;
}
.preset_add {
	width: 100%;
	text-align: center;
	padding: 40% 0;
	font-size: 24px;
}
.preset_add:hover {
	background: #ffc;
	cursor: pointer;
}
.preset_group {
	cursor: pointer;
}
.preset_group:hover {
	color:#00c;
}
.group {
	padding: 5px;
	cursor: pointer;
}
.group:hover {
	color:#00c;
}
.selected {
	background: #ffc;
	border-radius: 5px;
}
.vid {
	float:left;
	margin-bottom: 5px;
}
.vid video {
	width: 100%;
	height: 100%;
}
.vid_1 {
	width:100%;
	height:100%
}
.vid_2, .vid_3, .vid_4 {
	width:50%;
	height:50%
}
.vid_5, .vid_6, .vid_7, .vid_8, .vid_9, .vid_10, .vid_11, .vid_12, .vid_13, .vid_14, .vid_15, .vid_16 {
	width:25%;
	height:25%
}
