<%= form_for(@ui_preset) do |f| %>
  <% if @ui_preset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ui_preset.errors.count, "error") %> prohibited this ui_preset from being saved:</h2>

      <ul>
      <% @ui_preset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
