<div class="grid">
	<div class="row">
		<div class="slot-0-1-2">
			<h2>Preview</h2>
			<span style="height:400px; background:#eee;display:block;" />
		</div>
		<div class="slot-3-4">
			<h2>Presets</h2>
			<span style="height:400px; background:#eee;display:block;" />
		</div>
		<div class="slot-5">
			<h2>Groups</h2>
			<span style="height:400px; background:#eee;display:block;" />
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="slot-6-7">
			<h2>Monitor 1</h2>
			<span style="height:400px; background:#eee;display:block;" />
		</div>
		<div class="slot-8-9">
			<h2>Monitor 2</h2>
			<span style="height:400px; background:#eee;display:block;" />
		</div>
	</div>
</div>