<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->
<div class="container">	
    <div header></div> 
    <div body></div>
    <div footer></div>
</div>

<div class="hide" id="js-nuve-data" data-token="eyJ0b2tlbklkIjoiNTNkZWY1OTI1ZGJlNmU2OTNiNDE0ZjliIiwiaG9zdCI6ImxpY29kZS5zb2NpbzIubmV0Ojc1NzMiLCJzZWN1cmUiOnRydWUsInNpZ25hdHVyZSI6IlpXUTRZbU0zTVRNNFlqWTNZekl4WldSbVlqa3pNV0l6TURNellqUmxaVFV6TURZMk5UTXdNUT09In0="></div>
