%script{:src => "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"}
%script{:src => "https://code.angularjs.org/1.2.14/angular-route.min.js"}
%script{:src => "http://jwpsrv.com/library/ElAvGDL5EeKp9yIACp8kUw.js"}
%script{:src => "js/vendor/angular-translate.min.js"}
%script{:src => "js/vendor/angular-translate-loader-static-files.min.js"}
/ %script{ src="js/vendor/angular-dragdrop.min.js" }
%script{:src => "js/module.js"}
%script{:src => "js/services.js"}
%script{:src => "js/controllers.js"}
%script{:src => "js/directives.js"}
